@use 'variables' as *;
@use 'mixins' as *;

.footer {
 display: grid;
 grid-template-columns: 1fr;
 justify-items: center;
 text-align: center;
 width: 100%;
 margin-top: 7.75rem;

 &__bg {
  width: 100%;

  background-image: url('/main-base/images/homepage/ready-bg-mobile.jpg');
  background-image: url('/main-base/images/homepage/ready-bg-mobile@2x.jpg');

  @include breakpoint-up(medium) {
   background-image: url('/main-base/images/homepage/ready-bg-tablet.jpg');
   background-image: url('/main-base/images/homepage/ready-bg-tablet@2x.jpg');
  }

  @include breakpoint-up(large) {
   background-image: url('/main-base/images/homepage/ready-bg-desktop.jpg');
   background-image: url('/main-base/images/homepage/ready-bg-desktop@2x.jpg');
  }
 }

 &__bg--content-wrap {
  padding: 5rem 0;

  @include breakpoint-up(medium) {
   padding: 4.25rem 0 4rem 0;
  }

  @include breakpoint-up(large) {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-left: 7rem;
   padding-right: 7rem;
  }
 }

 &__logo {
  @include breakpoint-up(medium) {
   padding-left: 2.4375rem;
  }

  @include breakpoint-up(large) {
   padding-left: 0;
   margin-bottom: 0;
  }
 }

 &__btn {
  display: inline-block;
 }

 &__heading {
  padding-bottom: 2.4375rem;
  font-size: 1.8375rem;
  font-weight: 400;
  line-height: 1.4;

  @include breakpoint-up(medium) {
   padding-bottom: 3rem;
   text-align: left;
   padding-left: 4.3125rem;
  }

  @include breakpoint-up(large) {
   padding-left: 0;
   padding-bottom: 1rem;
  }
 }

 &__content {
  background-color: $primaryGray;
  width: 100%;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.6875rem;
  line-height: 2.4;
  padding-top: 5rem;
  padding-bottom: 6.0625rem;
 }

 &__container {
  @include breakpoint-up(medium) {
   display: grid;
   grid-template-columns: repeat(2, 1fr) 200px;
   grid-auto-rows: auto;
   justify-items: flex-start;
   text-align: left;
  }

  @include breakpoint-up(large) {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 0 7rem;
   max-width: 93rem;
   margin: 0 auto;
  }
 }

 &__content--info {
  margin-bottom: 2rem;

  @include breakpoint-up(large) {
   margin-bottom: 0;
   grid-column: 2;
  }
 }

 &__content--times {
  @include breakpoint-up(medium) {
   grid-column: 2;
  }

  @include breakpoint-up(large) {
   padding-right: 10rem;
  }
 }
}
