// Primary
$primaryGold: hsl(27, 22%, 51%);
$primaryGray: #111111;
$white: #ffffff;

// Secondary
$secondaryMirage: #17192b;
$secondaryClay: #242b37;
$secondaryGray: #5c6779;
$menuDivideGray: rgba(97, 97, 97, 0.555);
$errorRed: #dd3333;

// Media
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Hover Sates
$speed: 200ms;
$borderDark: 1px solid $primaryGray;
$borderLight: 1px solid $white;
